In [1]:
import pandas as pd

In [47]:
covid_df = pd.read_csv('서울시 코로나19 확진자 발생동향.csv', encoding='CP949')

In [48]:
covid_df.columns

Index(['서울시 기준일', '서울시 확진자', '서울시 추가 확진', '서울시 치료중', '서울시 퇴원', '서울시 추가 퇴원',
       '서울시 사망', '서울시 의심환자 전체', '서울시 의심환자 검사중', '서울시 의심환자 검사결과(음성)', '전국 기준일',
       '전국 확진', '전국 추가 확진', '전국 치료중', '전국 퇴원', '전국 사망', '전국 의심환자 전체',
       '전국 의심환자 검사중', '전국 의심환자 검사결과(음성)', '자가격리자 해외입국자 감시중',
       '자가격리자 해외입국자 감시해제', '자가격리자 접촉자 감시중', '자가격리자 접촉자 감시해제', '확인중 확진자',
       '서울시 당일사망자', '전국 당일 사망자'],
      dtype='object')

In [49]:
covid_df

,서울시 기준일,서울시 확진자,서울시 추가 확진,서울시 치료중,서울시 퇴원,서울시 추가 퇴원,서울시 사망,서울시 의심환자 전체,서울시 의심환자 검사중,서울시 의심환자 검사결과(음성),...,전국 의심환자 전체,전국 의심환자 검사중,전국 의심환자 검사결과(음성),자가격리자 해외입국자 감시중,자가격리자 해외입국자 감시해제,자가격리자 접촉자 감시중,자가격리자 접촉자 감시해제,확인중 확진자,서울시 당일사망자,전국 당일 사망자
0,2022.05.09.00,3531351,2715,0,NaN,NaN,4691,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,40.0
1,2022.05.08.00,3528636,5979,0,NaN,NaN,4689,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.0,71.0
2,2022.05.07.00,3522657,6641,0,NaN,NaN,4676,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,26.0,83.0
3,2022.05.06.00,3516017,3596,0,NaN,NaN,4650,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7.0,48.0
4,2022.05.05.00,3512421,6645,0,NaN,NaN,4643,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,17.0,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,20.02.09.18,10,0,10,0.0,0.0,0,459.0,45.0,414.0,...,2571.0,888.0,1683.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
822,20.02.08.18,10,0,10,0.0,0.0,0,414.0,92.0,322.0,...,1677.0,620.0,1057.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
823,20.02.07.18,10,0,10,0.0,0.0,0,322.0,115.0,207.0,...,1106.0,264.0,842.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
824,20.02.06.09,11,0,11,0.0,0.0,0,192.0,28.0,164.0,...,591.0,169.0,693.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
825,20.02.05.15,8,0,8,0.0,0.0,0,0.0,16.0,148.0,...,200.0,174.0,522.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [50]:
covid_df = covid_df[['서울시 기준일', '서울시 추가 확진']]

In [51]:
covid_df = covid_df[226:409]

In [52]:
covid_df = covid_df.loc[::-1]

In [53]:
covid_df = covid_df.reset_index(drop = True)

In [54]:
covid_df

           서울시 기준일  서울시 추가 확진
0    2021.03.28.00        138
1    2021.03.29.00        107
2    2021.03.30.00        145
3    2021.03.31.00        158
4    2021.04.01.00        199
..             ...        ...
178  2021.09.21.00        676
179  2021.09.22.00        644
180  2021.09.23.00        645
181  2021.09.24.00        907
182  2021.09.25.00       1222

[183 rows x 2 columns]

In [45]:
covid_df.to_csv("covid_seoul.csv", mode='w')