In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# row 제한 없애기
# pd.set_option('display.max_rows', None)

import pandas as pd
df = pd.read_csv('pp2_FC.csv', index_col = 0)

In [6]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
font_location = '../NanumGothic.ttf'  #font 경로 설정
font_name = fm.FontProperties(fname=font_location).get_name()
plt.rc('font', family=font_name)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19399 entries, 0 to 19398
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      19399 non-null  int64
 1   customer_id             19399 non-null  float64
 2   course_id               19398 non-null  float64
 3   type                    19399 non-null  object
 4   state                   19399 non-null  object
 5   course_title            19399 non-null  object
 6   category_title          19399 non-null  object
 7   format                  19399 non-null  object
 8   completed_at            19399 non-null  object
 9   transaction_amount      19399 non-null  int64
 10  coupon_title            9544 non-null   object
 11  coupon_discount_amount  9544 non-null   float64
 12  sale_price              19388 non-null  float64
 13  tax_free_amount         19388 non-null  float64
 14  pg                      17498 non-null  object
 15  method                  19399 non-null  object
 16  subcategory_title       19399 non-null  object
 17  marketing_start_at      17249 non-null  object
dtypes: float64(5), int64(2), object(11)
memory usage: 2.8+ MB